# Miscellaneous
*.log
*.temp
*.tmp
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
*.iws

# Environment & Secrets
.env
.env.*
!.env.example
*.pem
*.key

# Build & Dependencies
node_modules/
dist/
build/
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# App-specific
ios/Flutter/Generated.xcconfig
android/key.properties
